@import '../node_modules/foundation-sites/scss/foundation';

@include foundation-global-styles;
@include foundation-grid;

button {
	@include button;
	&:disabled {
		opacity: 0.6;
	}
}

ul {
	@include grid-row();
	
	li {
		@include grid-column(12);
		display: flex;
		
		.item-name {
			font-weight: bold;
			text-transform: capitalize;
		}
		
		&>p, &>button, &>input {
			width: 180px;
		}
	}
}