//@import '../node_modules/foundation-sites/scss/foundation';

$font-color: #444444;
$yellow: #FFF600;

body {
	color: $font-color;
}

header {
	text-align: center;
}

h1 {
	.lemonade {
		color: $yellow;
		text-shadow: -1px 0 $font-color, 0 1px $font-color, 1px 0 $font-color, 0 -1px $font-color;
	}
}