//@import '../node_modules/foundation-sites/scss/foundation';

$font-color: #444444;
$yellow: #FDFF67;

body, h1, h2, h3, h4, md-content {
	color: $font-color;
}

header {
	text-align: center;
}

h1 {
	.lemonade {
		color: $yellow;
		text-shadow: -1px 0 $font-color, 0 1px $font-color, 1px 0 $font-color, 0 -1px $font-color;
	}
}

#new-stand-form {
	vertical-align: top;
}

#game-stats {
	.value {
		font-size: 50px;
	}
}