<!doctype html>
<html>
<head>
    <title>Lemonade Stand</title>
	<link rel="stylesheet" href="style.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.6.1/angular.min.js"></script>
    <script src="app.js"></script>
</head>

<body ng-app="LemonadeApp">
    <h1>Lemonade Stand</h1>
	
	<section ng-controller="DisplayStats">
		<p>Piggybank: ${{funds}}</p>
	</section>
    
	<section ng-controller="RestockInventory">
		<ul>
			<li ng-repeat="item in inventory">
				<p class="item-name">{{item.name}}</p>
				<p>Available: {{item.amount}}</p>
				<p>Price per unit: ${{item.price.toFixed(2)}}</p>
				<input ng-model="numPurchased" type="number" placeholder="amount" min="0" max="{{item.amount}}">
				<button ng-click="buy(item, numPurchased)">Buy {{numPurchased}}</button>
			</li>
		</ul>
    </section>
	
</body>

</html>