<section ng-controller="PlayGame">
	<section id="game-stats" layout="row" layout-margin>
		<stats-card ng-repeat="card in cards" stats="card"></stats-card>
		
		<!--<md-card flex>
			<md-card-title>
				<md-card-title-text>
					<span class="md-headline">Day:</span>
					<span class="md-subhead">Total days in business: {{ stats.daysInBiz }}</span>
					<span class="value">{{ stats.day }}</span>
				</md-card-title-text>
			</md-card-title>
		</md-card>-->
		
	</section>
	
	<md-content>
		<md-subheader>why is this not sticky :X</md-subheader>
		
		<section layout="row" layout-xs="column" layout-margin>
			
			<div flex="33" flex-sm="100">
				<h2>Recipe</h2>
				<p>Makes 4 cups of lemonade</p>
				<ul>
					<li>1 lemon ($2 per lemon)</li>
					<li>2 bags of sugar ($1.25 per bag)</li>
					<li>4 chunks of ice ($0.50 per chunk)</li>
					<li>4 cups ($0.10 per cup)</li>
				</ul>
				
				<h2>Weather forecast</h2>
				<p>Temperature: {{ forecast.temperature | asTemp }}<br>
				Conditions: {{ forecast.condition }}</p>
				
				<h2>Price per cup</h2>
				<p>{{ stats.cupPrice }}</p>
				<input type="number" placeholder="Amount" ng-model="cupPrice">
				<md-button class="md-raised md-primary" ng-click="setPrice(cupPrice)">Set cup price</md-button>
				<div layout="row" layout-margin>
					<md-slider-container flex>
						<md-slider flex min="0" max="10" step="0.01" ng-model="cupPrice2" id="cup-price" aria-label="cup-price"></md-slider>
						<md-input-container flex><input flex type="number" ng-model="cupPrice2" aria-controls="cup-price" aria-label="cup-price"></md-input-container>
					</md-slider-container>
				</div>
			</div>
			
			<div flex="66" flex-sm="100">
				<h2>Supplies</h2>
				<md-list>
					<md-list-item ng-repeat="item in ingredients">
						<list-ingredient supply="item" buying="buy(item, num)" bal="stats"></list-ingredient>
					</md-list-item>
				</md-list>
			</div>

		</section>
	</md-content>
	
</section>